{% extends 'base.html' %}
{% import 'macros.html' as macro%}

    <!-- Content block -->
    {% block content%}

    <!-- Trending articles section -->
    <h3>Headlines</h3>
    <ul>
        {{macro.displayArticleList(headlines)}}
    </ul>

    <!-- upcoming articles -->
    <h3>Sources</h3>
    <ul>
        {{macro.displayArticleList(sources)}}
    </ul>

    <!-- Available articles -->
    <!-- <h3>Available Articles</h3>
    <ul>
        {{macro.displayArticleList(available)}}
    </ul> -->

    {% endblock %}