{% extends 'base.html' %}
{% import 'macros.html' as macro%}

<!-- Styles block -->

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}
<!-- Content block -->

    <!-- Content block -->
    {% block content%}

    <div class="container">
        <form>
            <input type="text" name="article_query" placeholder="Search for an article" class="form-control">
            <input type="submit"  value="Submit" class="btn btn-default">
        </form>
    
    </div>

    <!-- Trending articles section -->
    <h3 class="header" style="color: #daad86; font-weight:900">Headlines</h3>
    <ul>
        {{macro.displayArticleList(headlines)}}
    </ul>

    
    

    <!-- Available articles -->
    <!-- <h3>Available Articles</h3>
    <ul>
        {{macro.displayArticleList(available)}}
    </ul> -->

    {% endblock %}